@page
@model WEB_APP.Pages.Index1Model
@{
}
<form method="post" action="">
Employee name:<br />
<input type="text" name="Employeename" value="" placeholder="Enter Your name" /><br />
Employee surname:<br />
<input type="text" name="Employeesurname" value="" placeholder="Enter Your surname" /><br /><br />
Year of birth:<br />
<input type="number" name="Birth" value="" placeholder="Enter Your date of birth" /><br /><br />
Employee position:<br />
<input type="text" name="position" value="" placeholder="Enter Your position" /><br /><br />
Employee department:<br />
<input type="text" name="department" value="" placeholder="Enter Your department" /><br /><br />

<input type="submit" value="Submit" class="submit" />

</form>

